body {
    padding-top: 50px;
    padding-bottom: 25px;
}

.login {
    padding-top: 150px !important;
}

.p25t {
    padding-top: 25px !important;
}

.p15lr {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.p15tb {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.uploadMessage {
    padding-top: 15px;
    padding-left: 15px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}