<!DOCTYPE html>
<html ng-app="sentinel">
<head>
    <meta charset="utf-8">
    <title>{{ 'BROWSER_TITLE_SENTINEL' | translate }}</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/sentinel.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="css/bootstrap-multiselect.css" rel="stylesheet">
    <link href="css/calendar.css" rel="stylesheet">
    <script type="text/javascript" src="libs/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="libs/d3.v3.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="libs/underscore-min.js"></script>
    <script type="text/javascript" src="libs/language/hu-HU.js" charset="UTF-8"></script>
    <script type="text/javascript" src="libs/calendar.js"></script>
    <script type="text/javascript" src="libs/moment.min.js"></script>
    <script type="text/javascript" src="libs/angular.js"></script>
    <script type="text/javascript" src="libs/angular-base64.js"></script>
    <script type="text/javascript" src="libs/angular-route.js"></script>
    <script type="text/javascript" src="libs/angular-translate.js"></script>
    <script type="text/javascript" src="libs/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="libs/language/bootstrap-datetimepicker.hu.js" charset="UTF-8"></script>
    <script type="text/javascript" src="libs/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="libs/date.format.js"></script>
    <script type="text/javascript" src="libs/bootstrap.js"></script>
</head>
<body ng-controller="SentinelController">

<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ 'BRAND_NAME' | translate }}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-show="!currentUser.getIsLogged()"><a href="#login">{{ 'MENU_LOGIN' | translate }}</a></li>
                    <li ng-show="currentUser.getIsLogged()"><a href="#tasks">{{ 'MENU_TASKS' | translate }}</a></li>
                    <li ng-show="currentUser.getIsLogged()"><a href="#calendar">{{ 'MENU_CALENDAR' | translate }}</a></li>
                    <li ng-show="currentUser.getIsLogged()"><a href="#messages">{{ 'MENU_MESSAGES' | translate }}</a></li>
                    <li ng-show="currentUser.getIsLogged()"><a href="#statistics">{{ 'MENU_STATISTICS' | translate }}</a></li>
                    <li ng-show="currentUser.getIsLogged()"><a href="#password">{{ 'MENU_CHANGE_PASSWORD' | translate }}</a></li>
                    <li class="dropdown" ng-show="currentUser.getIsLogged() && currentUser.isAdmin()">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{ 'MENU_ADMIN' | translate }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#register">{{ 'MENU_REGISTER_NEW_USER' | translate }}</a></li>
                            <li><a href="#manage">{{ 'MENU_MANAGE_USERS' | translate }}</a></li>
                            <li><a href="#upload">{{ 'MENU_UPLOAD_CSV' | translate }}</a></li>
                            <li><a ng-show="currentUser.isSuperUser()" data-toggle="modal" data-target="#dbClearModal">{{ 'MENU_CLEAR_DATABASE' | translate }}</a></li>
                        </ul>
                    </li>
                </ul>
                <ul ng-show="currentUser.getIsLogged()" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{ 'LOGGED_IN_AS' | translate }} <span style="font-weight: bold">{{currentUser.getUserName()}}</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form" role="form" ng-controller="LoginController" ng-submit="login.logOut()" accept-charset="UTF-8" id="logout-nav">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success btn-block">{{ 'LOGOUT' | translate }}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <ng-view></ng-view>

</div>

<div class="modal fade" id="dbClearModal" tabindex="-1" role="dialog" aria-labelledby="dbClearModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="dbClearModalLabel">{{ 'TITLE_CLEAR_DATABASE' | translate }}</h4>
            </div>
            <div class="modal-body">
                {{ 'BODY_CLEAR_DATABASE' | translate }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">{{ 'BUTTON_NO' | translate }}</button>
                <button type="button" class="btn btn-success" ng-click="clearDatabase()">{{ 'BUTTON_YES' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/core/package.js"></script>

<script type="text/javascript" src="js/services/QueryService.js"></script>
<script type="text/javascript" src="js/services/UpdateService.js"></script>
<script type="text/javascript" src="js/services/EntitlementService.js"></script>
<script type="text/javascript" src="js/services/UtilityService.js"></script>

<script type="text/javascript" src="js/controllers/SentinelController.js"></script>
<script type="text/javascript" src="js/controllers/LoginController.js"></script>
<script type="text/javascript" src="js/controllers/RegisterController.js"></script>
<script type="text/javascript" src="js/controllers/UploadController.js"></script>
<script type="text/javascript" src="js/controllers/ManageController.js"></script>
<script type="text/javascript" src="js/controllers/TasksController.js"></script>
<script type="text/javascript" src="js/controllers/MessagesController.js"></script>
<script type="text/javascript" src="js/controllers/CalendarController.js"></script>
<script type="text/javascript" src="js/controllers/StatisticsController.js"></script>
<script type="text/javascript" src="js/controllers/PasswordController.js"></script>

<script type="text/javascript" src="js/directives/StringMatch.js"></script>
<script type="text/javascript" src="js/directives/FileModel.js"></script>

<script type="text/javascript" src="js/filters/RoleFilter.js"></script>
<script type="text/javascript" src="js/filters/SelectableRoleFilter.js"></script>
<script type="text/javascript" src="js/filters/SelectableOwnerFilter.js"></script>
<script type="text/javascript" src="js/filters/SelectableAssignmentStatusFilter.js"></script>
<script type="text/javascript" src="js/filters/ModeFilter.js"></script>
<script type="text/javascript" src="js/filters/StatusFilter.js"></script>
<script type="text/javascript" src="js/filters/AssignmentStatusFilter.js"></script>
<script type="text/javascript" src="js/filters/TasksFilter.js"></script>
<script type="text/javascript" src="js/filters/AccessFilter.js"></script>

<script type="text/javascript" src="js/models/Role.js"></script>
<script type="text/javascript" src="js/models/Mode.js"></script>
<script type="text/javascript" src="js/models/Status.js"></script>
<script type="text/javascript" src="js/models/AssignmentStatus.js"></script>
<script type="text/javascript" src="js/models/User.js"></script>

<script type="text/javascript" src="js/configs/ApplicationConfig.js"></script>
<script type="text/javascript" src="js/configs/ServiceConfig.js"></script>
<script type="text/javascript" src="js/configs/LanguageConfig.js"></script>

<script type="text/javascript" src="js/core/app.js"></script>

</body>
</html>