<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ 'BROWSER_TITLE_LOGIN' | translate }}</title>
</head>
<body>
<div class="container login">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>{{ 'TITLE_LOGIN' | translate }}</strong></h3>
                </div>
                <div class="panel-body">
                    <form name="loginForm" accept-charset="UTF-8" role="form">
                        <fieldset>
                            <div class="form-group" ng-class="loginForm.username.$error.required ? 'has-error' : ''">
                                <input class="form-control input-lg" ng-model="login.user.userName" placeholder="{{ 'PLACEHOLDER_USERNAME' | translate}}" name="username" type="text" required="">
                            </div>
                            <div class="form-group" ng-class="loginForm.password.$error.required ? 'has-error' : ''">
                                <input class="form-control input-lg" ng-model="login.user.password" placeholder="{{ 'PLACEHOLDER_PASSWORD' | translate}}" name="password" type="password" value="" required="">
                            </div>
                            <div ng-show="login.isInvalidUser" class="alert alert-danger">
                                <strong>{{login.errorMessage}}</strong>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" ng-disabled="loginForm.$invalid" ng-click="login.logIn()" value="{{ 'BUTTON_LOGIN' | translate}}">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>