<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ 'BROWSER_TITLE_MANAGE' | translate }}</title>
</head>
<body>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{ 'USER_LAST_NAME' | translate}}</th>
                    <th>{{ 'USER_FIRST_NAME' | translate}}</th>
                    <th>{{ 'USER_USERNAME' | translate}}</th>
                    <th>{{ 'USER_ROLE' | translate}}</th>
                    <th>{{ 'USER_STATUS' | translate}}</th>
                    <th>{{ 'USER_MODE' | translate}}</th>
                    <th>{{ 'USER_CLIENT_CODE' | translate}}</th>
                    <th>{{ 'USER_OWNER' | translate}}</th>
                    <th>{{ 'USER_ASSIGNMENTS' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in manage.users" ng-click="manage.showUserDetails(user)">
                    <td>{{user.lastName}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.userId}}</td>
                    <td>{{user.role | roleFilter}}</td>
                    <td>{{user.status | statusFilter}}</td>
                    <td>{{user.mode | modeFilter}}</td>
                    <td>{{user.clientCode}}</td>
                    <td>{{user.owner}}</td>
                    <td>{{user.assignments | accessFilter}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="userDetailsModal" tabindex="-1" role="dialog" aria-labelledby="userDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="userDetailsModalLabel">{{ 'TITLE_USER_DETAILS' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="lastName" class="col-sm-3 control-label">{{ 'USER_LAST_NAME' | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="lastName" ng-model="manage.selectedUser.lastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstName" class="col-sm-3 control-label">{{ 'USER_FIRST_NAME' | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="firstName" ng-model="manage.selectedUser.firstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label">{{ 'USER_USERNAME' | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="username"
                                       ng-model="manage.selectedUser.userId"
                                       ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'USER_ROLE' | translate}}</label>
                            <div class="col-sm-9">
                                <select class="form-control"
                                        ng-model="manage.selectedUser.role"
                                        ng-disabled="manage.selectedUser.role >= currentUser.getRole()"
                                        ng-options="r.value as r.label | translate for r in manage.roleOptions | selectableRoleFilter:this.currentUser.getRole()">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'USER_STATUS' | translate}}</label>
                            <div class="col-sm-9">
                                <select class="form-control"
                                        ng-model="manage.selectedUser.status"
                                        ng-options="s.value as s.label | translate for s in manage.statusOptions">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'USER_MODE' | translate}}</label>
                            <div class="col-sm-9">
                                <select class="form-control"
                                        ng-model="manage.selectedUser.mode"
                                        ng-options="m.value as m.label | translate for m in manage.modeOptions">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="clientCode" class="col-sm-3 control-label">{{ 'USER_CLIENT_CODE' | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="clientCode"
                                       ng-model="manage.selectedUser.clientCode"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'USER_OWNER' | translate}}</label>
                            <div class="col-sm-9">
                                <select class="form-control"
                                        ng-disabled="manage.selectedUser.role >= currentUser.getRole()"
                                        ng-model="manage.selectedUser.owner"
                                        >
                                    <option ng-repeat="user in manage.users | selectableOwnerFilter">{{user.userId}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'USER_ASSIGNMENTS' | translate}}</label>
                            <div class="col-sm-9">
                                <select class="form-control multiselect" multiple="multiple" id="assignmentsSelector"
                                        ng-model="manage.selectedUser.assignments">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'BUTTON_CLOSE' | translate}}</button>
                    <button type="button" class="btn btn-primary" ng-click="manage.saveUser()">{{ 'BUTTON_SAVE_CHANGES' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>