<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ 'BROWSER_TITLE_MESSAGES' | translate }}</title>
</head>
<body>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th class="span8"><strong>{{ 'MESSAGES_CONTENT' | translate }}</strong></th>
                <th class="span2"><strong>{{ 'MESSAGES_STATUS' | translate }}</strong></th>
                <th class="span2"><strong>{{ 'MESSAGES_DATE' | translate }}</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mail in messages.mails" ng-class="mail.success ? 'success' : 'danger'">
                <td>{{mail.content}}</td>
                <td>{{mail.success ? ('MESSAGES_STATUS_COMPLETED' | translate) : ('MESSAGES_STATUS_FAILED' | translate) }}</td>
                <td>{{mail.sentDate}}</td>
            </tr>
        </tbody>
    </table>
    <div ng-show="!messages.isLoaded" class="container" style="display: block">
        <div class="progress progress-striped active center-block">
            <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">45% Complete</span>
            </div>
        </div>
    </div>
</body>
</html>