<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ 'BROWSER_TITLE_PASSWORD' | translate }}</title>
</head>
<body>
<div class="container login">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>{{ 'TITLE_CHANGE_PASSWORD' | translate }}</strong></h3>
                </div>
                <div class="panel-body">
                    <form name="passwordForm" accept-charset="UTF-8" role="form">
                        <fieldset>
                            <div class="form-group" ng-class="passwordForm.password.$error.required ? 'has-error' : ''">
                                <input class="form-control input-lg" ng-model="password.passwords.old" placeholder="{{ 'PLACEHOLDER_OLD_PASSWORD' | translate }}" name="password" type="password" value="" required="" tabindex="1">
                            </div>
                            <div class="form-group" ng-class="(passwordForm.new_password.$error.required || passwordForm.new_password_confirmation.$error.strmatch) ? 'has-error' : ''">
                                <input type="password" ng-model="password.passwords.new" name="new_password" id="new_password" class="form-control input-lg" placeholder="{{ 'PLACEHOLDER_NEW_PASSWORD' | translate }}" tabindex="2" required="">
                            </div>
                            <div class="form-group" ng-class="(passwordForm.new_password_confirmation.$error.required || passwordForm.new_password_confirmation.$error.strmatch) ? 'has-error' : ''">
                                <input type="password" ng-model="password.passwords.new_confirmation" name="new_password_confirmation" id="new_password_confirmation" str-match="new_password" class="form-control input-lg" placeholder="{{ 'PLACEHOLDER_NEW_PASSWORD_CONFIRMATION' | translate }}" tabindex="3" required="">
                            </div>
                            <div class="alert alert-danger" ng-show="passwordForm.new_password_confirmation.$error.strmatch">
                                <strong>
                                    {{ 'MSG_PASSWORDS_DONT_MATCH' | translate }}
                                </strong>
                            </div>
                            <div ng-show="password.success != null" class="alert" ng-class="password.success == true ? 'alert-success' : 'alert-danger'">
                                <strong>{{password.message}}</strong>
                            </div>
                            <input class="btn btn-lg btn-primary btn-block" ng-disabled="passwordForm.$invalid" ng-click="password.changePassword()" value="{{ 'BUTTON_CHANGE_PASSWORD' | translate }}" tabindex="4">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>