<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ 'BROWSER_TITLE_TASKS' | translate }}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="btn-toolbar p15tb">
            <div class="input-group input-group-md">
                <select class="form-control" ng-model="tasks.selectedUser" ng-change="tasks.applyTasksFilter('user')"
                        ng-options="user.userName as user.lastName + ' ' + user.firstName for user in tasks.availableUsers">
                </select>
            </div>
            <div class="btn-group">
                <button ng-class="tasks.currentFilter == 'user' ? 'active' : ''"type="button" class="btn btn-default" ng-click="tasks.applyTasksFilter('user')">{{ 'BUTTON_USER_TASKS' | translate }}</button>
                <button ng-class="tasks.currentFilter == 'processing' ? 'active' : ''"type="button" class="btn btn-default" ng-click="tasks.applyTasksFilter('processing')">{{ 'BUTTON_PROCESSING_TASKS' | translate }}</button>
                <button ng-hide="currentUser.isAssistant()" ng-class="tasks.currentFilter == 'all' ? 'active' : ''" type="button" class="btn btn-default" ng-click="tasks.applyTasksFilter('all')">{{ 'BUTTON_ALL_TASKS' | translate }}</button>
            </div>
            <div class="input-group input-group-md" ng-show="currentUser.isAdmin()">
                <select class="form-control" ng-model="tasks.selectedAssignee"
                        ng-options="user.userName as user.lastName + ' ' + user.firstName for user in tasks.availableAssignees">
                </select>
            </div>
            <div class="btn-group" ng-show="currentUser.isAdmin()">
                <button class="btn btn-primary" ng-click="tasks.assignTasks()" ng-disabled="tasks.selectedAssignee == null">{{ 'BUTTON_ASSIGN' | translate}}</button>
            </div>
            <div class="btn-group" ng-show="currentUser.isAdmin()">
                <button class="btn btn-danger" ng-click="tasks.deleteTasks()" >{{ 'BUTTON_DELETE' | translate}}</button>
            </div>
            <div class="input-group input-group-md pull-right">
                <input class="searchFilterStyle" type="text" ng-model="tasks.searchText" placeholder="{{ 'PLACEHOLDER_TASKS_FILTER' | translate }}">
            </div>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th ng-show="currentUser.isAdmin()">
                    <input id="selectAllCheckbox" type="checkbox" ng-click="tasks.selectAll()">
                </th>
                <th>{{ 'TASKS_MT_ID' | translate }}</th>
                <th>{{ 'TASKS_NAME' | translate }}</th>
                <th>{{ 'TASKS_ADDRESS' | translate }}</th>
                <th>{{ 'TASKS_SERVICE_TV' | translate }}</th>
                <th>{{ 'TASKS_SERVICE_INTERNET' | translate }}</th>
                <th>{{ 'TASKS_SERVICE_PHONE' | translate }}</th>
                <th>{{ 'TASKS_LOYALTY_EXPIRATION' | translate }}</th>
                <th>{{ 'TASKS_STATUS' | translate }}</th>
                <th>{{ 'TASKS_COMMENT' | translate }}</th>
                <th>{{ 'TASKS_COMMENT_1' | translate }}</th>
                <th>{{ 'TASKS_COMMENT_2' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="tasks.getRowClass(client.assignments)" ng-repeat="client in tasks.clients | tasksFilter:this.tasks.selectedUser:this.currentUser.getRole():tasks.currentFilter | filter:tasks.searchText | orderBy:tasks.orderByStatusFilter:true" ng-click="tasks.onRowClick($event, client)">
                <td ng-show="currentUser.isAdmin()">
                    <input type="checkbox" ng-model="client.selected">
                </td>
                <td>{{client.mtId}}</td>
                <td>{{client.name}}</td>
                <td>{{client.address}}</td>
                <td>{{client.serviceTVName}}</td>
                <td>{{client.serviceInternetName}}</td>
                <td>{{client.servicePhoneName}}</td>
                <td>{{client.loyaltyExpiration}}</td>
                <td>{{client.assignments | assignmentStatusFilter}}</td>
                <td>
                    <span ng-show="client.comment != null && client.comment != ''" class="glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="left"
                            title="{{client.comment}}"></span>
                </td>
                <td>
                    <span ng-show="client.comment1 != null && client.comment1 != ''" class="glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="left"
                          title="{{client.comment1}}"></span>
                </td>
                <td>
                    <span ng-show="client.comment2 != null && client.comment2 != ''" class="glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="left"
                          title="{{client.comment2}}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="clientDetailsModal" tabindex="-1" role="dialog" aria-labelledby="clientDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="clientDetailsModalLabel">{{ 'TITLE_CLIENT_DETAILS' | translate }}</h4>
                </div>
                <div class="modal-body">
                   <ul id="clientDetailsTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#basic" data-toggle="tab">{{ 'CLIENT_POPUP_TAB_BASIC' | translate }}</a>
                        </li>
                        <li>
                           <a href="#contract" data-toggle="tab">{{ 'CLIENT_POPUP_TAB_CONTRACT' | translate }}</a>
                        </li>
                        <li ng-show="currentUser.isAdmin()">
                            <a href="#personal" data-toggle="tab">{{ 'CLIENT_POPUP_TAB_PERSONAL' | translate }}</a>
                        </li>
                   </ul>
                   <div id="clientDetailsTabContent" class="tab-content">
                       <div class="tab-pane fade in active" id="basic">
                           <form name="basicForm" class="form-horizontal" role="form">
                               <div class="form-group">
                                   <label class="col-sm-4 control-label">{{ 'CLIENT_POPUP_MT_ID' | translate }}</label>
                                   <div class="col-sm-8">
                                       <p class="form-control-static">{{tasks.selectedClient.mtId}}</p>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <label class="col-sm-4 control-label">{{ 'CLIENT_POPUP_NAME' | translate }}</label>
                                   <div class="col-sm-8">
                                       <p class="form-control-static">{{tasks.selectedClient.name}}</p>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <label class="col-sm-4 control-label">{{ 'CLIENT_POPUP_ADDRESS' | translate }}</label>
                                   <div class="col-sm-8">
                                       <p class="form-control-static">{{tasks.selectedClient.address}}</p>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <label for="phone" class="col-sm-4 control-label">{{ 'CLIENT_POPUP_PHONE' | translate }}</label>
                                   <div class="col-sm-8">
                                       <input type="text" class="form-control" id="phone"
                                              ng-model="tasks.selectedClient.phone"
                                              ng-disabled="!(currentUser.isAdmin() || currentUser.isAssistant())">
                                   </div>
                               </div>
                               <div class="form-group" ng-class="tasks.isValidMobileRequired() ? 'has-error' : ''">
                                   <label for="mobile" class="col-sm-4 control-label">{{ 'CLIENT_POPUP_MOBILE' | translate }}</label>
                                   <div class="col-sm-8">
                                       <input type="text" class="form-control" id="mobile" name="mobile"
                                              ng-model="tasks.selectedClient.mobile"
                                              ng-required="tasks.isValidMobileRequired()"
                                              ng-disabled="!(currentUser.isAdmin() || currentUser.isAssistant())">
                                   </div>
                               </div>
                               <div class="form-group">
                                   <label class="col-sm-4 control-label">{{ 'CLIENT_POPUP_LOYALTY_EXPIRATION' | translate }}</label>
                                   <div class="col-sm-8">
                                       <p class="form-control-static">{{tasks.selectedClient.loyaltyExpiration}}</p>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <label for="comment" class="col-sm-4 control-label">{{ 'CLIENT_POPUP_COMMENT' | translate }}</label>
                                   <div class="col-sm-8">
                                       <input type="text" class="form-control" id="comment"
                                              ng-model="tasks.selectedClient.comment"
                                              ng-disabled="!currentUser.isAdmin()">
                                   </div>
                               </div>
                               <hr/>
                               <div class="form-group" ng-class="basicForm.appointment.$error.required ? 'has-error' : ''">
                                   <label for="appointmentPicker" class="col-sm-4 control-label">{{ 'CLIENT_POPUP_APPOINTMENT' | translate }}</label>
                                   <div class="input-group date form_datetime col-sm-8 p15lr" id="appointmentPicker">
                                       <input class="form-control" size="16" type="text" value="" ng-model="tasks.selectedClient.appointmentDisplay" disabled name="appointment"
                                              ng-required="tasks.isAppointmentRequired()">
                                       <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                       <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                   </div>
                               </div>
                               <div class="form-group" ng-class="basicForm.comment1.$error.required ? 'has-error' : ''">
                                   <label for="comment1" class="col-sm-4 control-label">{{ 'CLIENT_POPUP_COMMENT_1' | translate }}</label>
                                   <div class="col-sm-8">
                                       <input type="text" class="form-control" id="comment1" name="comment1"
                                              ng-model="tasks.selectedClient.comment1"
                                              ng-disabled="!currentUser.isAssistant()"
                                              ng-required="tasks.isComment1Required()">
                                   </div>
                               </div>
                               <div class="form-group" ng-class="basicForm.comment2.$error.required ? 'has-error' : ''">
                                   <label for="comment2" class="col-sm-4 control-label">{{ 'CLIENT_POPUP_COMMENT_2' | translate }}</label>
                                   <div class="col-sm-8">
                                       <input type="text" class="form-control" id="comment2" name="comment2"
                                              ng-model="tasks.selectedClient.comment2"
                                              ng-disabled="!currentUser.isAgent()"
                                              ng-required="tasks.isComment2Required()">
                                   </div>
                               </div>
                               <div class="form-group">
                                   <label for="assignmentStatus" class="col-sm-4 control-label">{{ 'CLIENT_POPUP_STATUS' | translate }}</label>
                                   <div class="col-sm-8">
                                       <select id="assignmentStatus"
                                               class="form-control"
                                               ng-disabled="!tasks.isAssignmentStatusEditable(tasks.selectedClient.assignments)"
                                               ng-model="tasks.selectedClient.currentStatus"
                                               ng-options="s.value as s.label | translate for s in tasks.assignmentStatusOptions | selectableAssignmentStatusFilter:this.currentUser:tasks.selectedClient.assignments">
                                       </select>
                                   </div>
                               </div>
                           </form>
                       </div>
                       <div class="tab-pane fade" id="contract">
                           <div class="row p25t">
                               <div class="col-md-12">
                                   <div class="col-md-10">
                                       <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-primary btn-file">
                                                        {{ 'BUTTON_BROWSE' | translate }}<input id="contractsUploader" type="file" file-model="tasks.contractFile">
                                                </span>
                                            </span>
                                           <input type="text" class="form-control" readonly>
                                       </div>
                                   </div>
                                   <div class="col-md-2">
                                       <input type="button" class="btn btn-default btn-primary" value="{{ 'BUTTON_UPLOAD' | translate }}" ng-click="tasks.uploadContract()">
                                   </div>
                               </div>
                           </div>
                           <div class="row p15tb p15lr">
                               <ul class="list-group">
                                   <li class="list-group-item" ng-repeat="file in tasks.selectedClient.contracts">{{file.fileLocation}}
                                       <div class="pull-right input-group">
                                           <a class="m5lr" ng-href="{{tasks.getContract(file.id)}}" target="_blank"><span class="glyphicon glyphicon-file"></span></a>
                                           <input class="pull-right m5lr" type="checkbox" ng-model="file.markedForSend">
                                       </div>
                                   </li>
                               </ul>
                           </div>
                           <hr/>
                           <form name="contractForm" class="form-horizontal" role="form">
                               <div class="form-group" ng-class="tasks.isSelectedPlanRequired('#serviceTVNameSelector') ? 'has-error' : ''">
                                   <label class="col-sm-4 control-label">{{ 'CLIENT_POPUP_SERVICE_TV' | translate }}</label>
                                   <div class="col-sm-8 input-group p15lr">
                                       <span class="input-group-addon">
                                            <input type="checkbox" ng-model="tasks.selectedClient.serviceTVNew">
                                       </span>
                                       <select id="serviceTVNameSelector"
                                               class="form-control"
                                               ng-model="tasks.selectedClient.serviceTVName"
                                               ng-options="p.name as p.name for p in tasks.tvPlans"
                                               ng-required="tasks.isSelectedPlanRequired('#serviceTVNameSelector')"
                                               >
                                       </select>
                                   </div>
                               </div>
                               <div class="form-group" ng-class="tasks.isSelectedPlanRequired('#servicePhoneNameSelector') ? 'has-error' : ''">
                                   <label class="col-sm-4 control-label">{{ 'CLIENT_POPUP_SERVICE_PHONE' | translate }}</label>
                                   <div class="col-sm-8 input-group p15lr">
                                       <span class="input-group-addon">
                                            <input type="checkbox" ng-model="tasks.selectedClient.servicePhoneNew">
                                       </span>
                                       <select id="servicePhoneNameSelector"
                                               class="form-control"
                                               ng-model="tasks.selectedClient.servicePhoneName"
                                               ng-options="p.name as p.name for p in tasks.phonePlans"
                                               ng-required="tasks.isSelectedPlanRequired('#servicePhoneNameSelector')"
                                               >
                                       </select>
                                   </div>
                               </div>
                               <div class="form-group" ng-class="tasks.isSelectedPlanRequired('#serviceInternetNameSelector') ? 'has-error' : ''">
                                   <label class="col-sm-4 control-label">{{ 'CLIENT_POPUP_SERVICE_INTERNET' | translate }}</label>
                                   <div class="col-sm-8 input-group p15lr">
                                       <span class="input-group-addon">
                                            <input type="checkbox" ng-model="tasks.selectedClient.serviceInternetNew">
                                       </span>
                                       <select id="serviceInternetNameSelector"
                                               class="form-control"
                                               ng-model="tasks.selectedClient.serviceInternetName"
                                               ng-options="p.name as p.name for p in tasks.internetPlans"
                                               ng-required="tasks.isSelectedPlanRequired('#serviceInternetNameSelector')"
                                               >
                                       </select>
                                   </div>
                               </div>
                           </form>
                       </div>
                       <div class="tab-pane fade" id="personal">
                           <form class="form-horizontal" role="form">
                               <div class="form-group">
                                   <label class="col-sm-4 control-label">{{ 'CLIENT_POPUP_PERSONAL_ID' | translate }}</label>
                                   <div class="col-sm-8">
                                       <p class="form-control-static">{{tasks.selectedClient.personalId}}</p>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <label class="col-sm-4 control-label">{{ 'CLIENT_POPUP_DATE_OF_BIRTH' | translate }}</label>
                                   <div class="col-sm-8">
                                       <p class="form-control-static">{{tasks.selectedClient.dateOfBirth}}</p>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <label class="col-sm-4 control-label">{{ 'CLIENT_POPUP_PLACE_OF_BIRTH' | translate }}</label>
                                   <div class="col-sm-8">
                                       <p class="form-control-static">{{tasks.selectedClient.placeOfBirth}}</p>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <label class="col-sm-4 control-label">{{ 'CLIENT_POPUP_NAME_OF_MOTHER' | translate }}</label>
                                   <div class="col-sm-8">
                                       <p class="form-control-static">{{tasks.selectedClient.nameOfMother}}</p>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <label class="col-sm-4 control-label">{{ 'CLIENT_POPUP_PAYMENT_METHOD' | translate }}</label>
                                   <div class="col-sm-8">
                                       <p class="form-control-static">{{tasks.selectedClient.paymentMethod}}</p>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <label class="col-sm-4 control-label">{{ 'CLIENT_POPUP_BANK_ACCOUNT' | translate }}</label>
                                   <div class="col-sm-8">
                                       <p class="form-control-static">{{tasks.selectedClient.bankAccount}}</p>
                                   </div>
                               </div>
                           </form>
                       </div>
                   </div>
                </div>
                <div class="modal-footer">
                    <div class="row footerError" ng-show="tasks.saveClientErrorMessage != null">
                        <div class="alert alert-danger">
                            <strong>{{ 'MSG_ERROR' | translate }}</strong>
                            <span> {{tasks.saveClientErrorMessage}}</span>
                        </div>
                    </div>
                    <div class="row footerError" ng-show="tasks.resendErrorMessage != null">
                        <div class="alert alert-danger">
                            <strong>{{ 'MSG_ERROR' | translate }}</strong>
                            <span> {{tasks.resendErrorMessage}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-default" ng-click="tasks.hideClientDetails()" data-dismiss="modal">{{ 'BUTTON_CLOSE' | translate }}</button>
                        <a ng-show="tasks.isGenerateContractButtonVisible()"
                           ng-href="{{tasks.generateContract()}}" target="_blank"><button type="button" class="btn btn-info">
                            <i class="glyphicon glyphicon-edit"></i>
                            <span>{{ 'BUTTON_GENERATE_CONTRACT' | translate }}</span>
                        </button></a>
                        <button type="button" class="btn btn-primary"
                                ng-show="currentUser.isAdmin()"
                                ng-disabled="tasks.isSendingMail"
                                ng-click="tasks.resend()">{{ 'BUTTON_RESEND' | translate }}</button>
                        <button type="button" class="btn btn-primary"
                                ng-disabled="tasks.isSavingClient ||
                                                basicForm.$error.required ||
                                                tasks.isValidMobileRequired() ||
                                                tasks.isSelectedPlanRequired('#serviceInternetNameSelector') ||
                                                tasks.isSelectedPlanRequired('#servicePhoneNameSelector') ||
                                                tasks.isSelectedPlanRequired('#serviceTVNameSelector')"
                                ng-click="tasks.saveClient()">{{ 'BUTTON_SAVE_CHANGES' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>