<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ 'BROWSER_TITLE_UPLOAD' | translate }}</title>
</head>
<body>

    <div class="row p25t">
        <div class="col-md-6">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                                {{ 'BUTTON_BROWSE' | translate }}<input id="fileUploader" type="file" file-model="upload.csvFile">
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-default btn-primary" value="{{ 'BUTTON_UPLOAD' | translate }}" ng-click="upload.uploadCSV()">
            </div>
        </div>
    </div>

    <div class="row uploadMessage">
        <div class="col-md-6">
            <div class="alert"
                 ng-class="{'alert-danger' : upload.result == false, 'alert-success' : upload.result == true}"
                 ng-show="upload.result != null"
                    >
                <strong>{{upload.result == false ? 'Error' : (upload.result == true ? 'Success' : '')}}</strong>
                <span>{{upload.message}}</span>
            </div>
        </div>
    </div>

</body>
</html>